@font-face {
  font-family: 'Fredoka';
  src: url('../assets/fonts/Fredoka-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'Josefin';
  src: url('../assets/fonts/JosefinSans-VariableFont_wght.ttf');
}
